@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $is-dark-theme: map.get($color-config, 'is-dark');

  .stat-table {
    @if $is-dark-theme {
      .cost {
        background: rgb(87 87 87);
      }
    }
  }
}
