@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $teal-palette: mat.define-palette(mat.$teal-palette);
  $green-palette: mat.define-palette(mat.$light-green-palette);
  $pink-palette: mat.define-palette(mat.$pink-palette);

  $font-color: rgba(255, 255, 255, 0.85);

  .calc-table {
    .section-separator {
      border-left: 5px solid rgb(255 255 255 / 24%);
    }

    .vol {
      color: $font-color;
      background-color: mat.get-color-from-palette($teal-palette, 800);
    }

    .vol-monthly {
      color: $font-color;
      background-color: mat.get-color-from-palette($green-palette, 800);
    }

    .cost {
      color: $font-color;
      background-color: mat.get-color-from-palette($pink-palette, 900);
    }

    .total-cost {
      color: $font-color;
      background-color: mat.get-color-from-palette($pink-palette, 800);
      font-weight: 500;
    }

    .mat-header-cell {
      font-size: 14px;
      font-weight: 600;
    }

    $table-hover-border-color: rgba(255, 255, 255, 0.5);

    .cdk-row:hover .cdk-cell {
      border-bottom-color: $table-hover-border-color !important;
      border-top-color: $table-hover-border-color !important;
    }
  }
}
