@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $is-dark-theme: map.get($color-config, 'is-dark');

  $teal-palette: mat.define-palette(mat.$teal-palette);
  $green-palette: mat.define-palette(mat.$light-green-palette);
  $pink-palette: mat.define-palette(mat.$pink-palette);

  $font-color: rgba(0, 0, 0, 0.85);
  $separator-color: white;
  $vol-bg-color: rgb(208 236 255);
  $vol-monthly-bg-color: rgb(217 250 214);
  $cost-bg-color: rgb(255 208 208);
  $total-cost-bg-color: rgb(255 208 208);
  $header-cell-font-weight: 500;

  @if $is-dark-theme {
    $font-color: rgba(255, 255, 255, 0.85);
    $separator-color: rgb(255 255 255 / 24%);;
    $vol-bg-color: mat.get-color-from-palette($teal-palette, 800);
    $vol-monthly-bg-color: mat.get-color-from-palette($green-palette, 800);
    $cost-bg-color: mat.get-color-from-palette($pink-palette, 800);
    $total-cost-bg-color: mat.get-color-from-palette($pink-palette, 900);
    $header-cell-font-weight: 600;
  }

  .calc-table {
    .section-separator {
      border-left: 5px solid $separator-color;
    }

    .vol {
      color: $font-color;
      background-color: $vol-bg-color;
    }

    .vol-monthly {
      color: $font-color;
      background-color: $vol-monthly-bg-color;
    }

    .cost {
      color: $font-color;
      background-color: $cost-bg-color;
    }

    .total-cost {
      color: $font-color;
      background-color: $total-cost-bg-color;
      font-weight: 500;
    }

    .mat-header-cell {
      font-size: 14px;
      font-weight: $header-cell-font-weight;
    }
  }

}
