$font-color: rgba(0, 0, 0, 0.85);

.calc-table {
  margin-top: 10px;
  overflow-x: auto;
  max-height: calc(100vh - 165px);
}

table {
  width: 100%;
}

.cdk-header-cell, .cdk-cell, .cdk-footer-cell {
  padding: 10px;
  border-top: 1px solid transparent;
  text-align: center;
}

.cdk-header-cell span {
  white-space: nowrap;
}

.cdk-column-month {
  text-align: left;
}

.section-separator {
  border-left: 5px solid white;
}

.vol {
  color: $font-color;
  background-color: rgb(208 236 255);
}

.vol-monthly {
  color: $font-color;
  background-color: rgb(217 250 214);;
}

.cost {
  color: $font-color;
  background-color: rgb(255 208 208);
}

.total-cost {
  color: $font-color;
  background-color: rgb(255 208 208);
  font-weight: 500;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}

$table-hover-border-color: rgb(105, 159, 230);

.cdk-row:hover .cdk-cell {
  border-bottom-color: $table-hover-border-color;
  border-top-color: $table-hover-border-color;
}

.footer-row {
  font-weight: 500;
}
