.calc-table {
  margin-top: 10px;
  overflow-x: auto;
  height: calc(100vh - 165px);
}

table {
  width: 100%;
}

.cdk-header-cell, .cdk-cell, .cdk-footer-cell {
  padding: 10px;
  border-top: 1px solid transparent;
  text-align: center;
}

.cdk-header-cell span {
  white-space: nowrap;
}

.cdk-column-month {
  text-align: left;
}

.cdk-row:hover .cdk-cell {
  border-bottom-color: rgb(105, 159, 230);
  border-top-color: rgb(105, 159, 230);
}

.footer-row {
  font-weight: 500;
}
