<div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link
      [routerLink]="getLink(year)"
      *ngFor="let year of dataStorage.years$ | async"
      [active]="year === getCurrentYear()"
    >{{ year }}</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <div class="calc-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Month</th>
        <td mat-cell *matCellDef="let element">{{ element.month }}</td>
        <td mat-footer-cell *matFooterCellDef>Annual</td>
      </ng-container>

      <ng-container matColumnDef="electricity">
        <th mat-header-cell *matHeaderCellDef class="vol">Electricity</th>
        <td mat-cell *matCellDef="let element" class="vol">{{ element.electricityVolume }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="electricityMonthly">
        <th mat-header-cell *matHeaderCellDef class="vol-monthly">Monthly</th>
        <td mat-cell *matCellDef="let element" class="vol-monthly">{{ element.electricityVolumeMonthly }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.electricityVolume }}</td>
      </ng-container>

      <ng-container matColumnDef="hcsCost">
        <th mat-header-cell *matHeaderCellDef class="cost">Cost</th>
        <td mat-cell *matCellDef="let element" class="cost">{{ element.hcsCost?.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.hcsCost.toFixed(2) }}</td>
      </ng-container>

      <ng-container matColumnDef="coldWaterVolume">
        <th mat-header-cell *matHeaderCellDef class="vol">Cold water</th>
        <td mat-cell *matCellDef="let element" class="vol">{{ element.coldWaterVolume }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="coldWaterVolumeMonthly">
        <th mat-header-cell *matHeaderCellDef class="vol-monthly">Monthly</th>
        <td mat-cell *matCellDef="let element" class="vol-monthly">{{ element.coldWaterVolumeMonthly }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.coldWaterVolume }}</td>
      </ng-container>

      <ng-container matColumnDef="hotWaterVolume">
        <th mat-header-cell *matHeaderCellDef class="vol">Hot water</th>
        <td mat-cell *matCellDef="let element" class="vol">{{ element.hotWaterVolume }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="hotWaterVolumeMonthly">
        <th mat-header-cell *matHeaderCellDef class="vol-monthly">Monthly</th>
        <td mat-cell *matCellDef="let element" class="vol-monthly">{{ element.hotWaterVolumeMonthly }}</td>\
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.hotWaterVolume }}</td>
      </ng-container>

      <ng-container matColumnDef="waterCost">
        <th mat-header-cell *matHeaderCellDef class="cost">Cost</th>
        <td mat-cell *matCellDef="let element" class="cost">{{ element.waterCost?.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.waterCost.toFixed(2) }}</td>
      </ng-container>

      <ng-container matColumnDef="heatingVolume">
        <th mat-header-cell *matHeaderCellDef class="vol">Heating</th>
        <td mat-cell *matCellDef="let element" class="vol">{{ element.heatingVolume }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="heatingConvertedVolume">
        <th mat-header-cell *matHeaderCellDef class="vol">Converted</th>
        <td mat-cell *matCellDef="let element" class="vol">{{ element.heatingConvertedVolume }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="heatingConvertedVolumeMonthly">
        <th mat-header-cell *matHeaderCellDef class="vol-monthly">Monthly</th>
        <td mat-cell *matCellDef="let element" class="vol-monthly">{{ element.heatingConvertedVolumeMonthly }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.heatingConvertedVolume }}</td>
      </ng-container>

      <ng-container matColumnDef="heatingCost">
        <th mat-header-cell *matHeaderCellDef class="cost">Cost</th>
        <td mat-cell *matCellDef="let element" class="cost">{{ element.heatingCost?.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.heatingCost.toFixed(2) }}</td>
      </ng-container>

      <ng-container matColumnDef="garbageCost">
        <th mat-header-cell *matHeaderCellDef class="cost">Garbage</th>
        <td mat-cell *matCellDef="let element" class="cost">{{ element.garbageCost?.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.garbageCost.toFixed(2) }}</td>
      </ng-container>

      <ng-container matColumnDef="overhaulCost">
        <th mat-header-cell *matHeaderCellDef class="cost">Overhaul</th>
        <td mat-cell *matCellDef="let element" class="cost">{{ element.overhaulCost?.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.overhaulCost.toFixed(2) }}</td>
      </ng-container>

      <ng-container matColumnDef="totalCost">
        <th mat-header-cell *matHeaderCellDef class="total-cost">Total</th>
        <td mat-cell *matCellDef="let element" class="total-cost">{{ element.totalCost.toFixed(2) }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ footerRow.totalCost.toFixed(2) }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (dblclick)="onEditCalc(row)"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></tr>
    </table>
  </div>
</div>
