.mat-card {
  margin-bottom: 20px;
}

.mat-card-title {
  font-size: 18px;
  font-weight: normal;
}

.mat-form-field {
  margin-right: 20px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.two-columns {
  display: flex;
}

.two-columns mat-card {
  flex: 1;
}

.two-columns mat-card:first-child {
  margin-right: 15px;
}

.link {
  transform: scale(0.8);
  margin-bottom: 4px;
}
