<h1 mat-dialog-title>{{ getTitle() }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- HCS -->
    <mat-card formGroupName="hcs">
      <mat-card-title>HCS</mat-card-title>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Electricity (kW*h)</mat-label>
            <input type="number" matInput cdkFocusInitial formControlName="electricityVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Monthly (kW*h)</mat-label>
            <input type="number" matInput formControlName="electricityVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Cost (₽)</mat-label>
            <input type="number" matInput formControlName="cost">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Water -->
    <mat-card formGroupName="water">
      <mat-card-title>Water</mat-card-title>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Cold volume (m<sup>3</sup>)</mat-label>
            <input type="number" matInput formControlName="coldVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Monthly (m<sup>3</sup>)</mat-label>
            <input type="number" matInput formControlName="coldVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Hot volume (m<sup>3</sup>)</mat-label>
            <input type="number" matInput formControlName="hotVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Monthly (m<sup>3</sup>)</mat-label>
            <input type="number" matInput formControlName="hotVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Cost (₽)</mat-label>
            <input type="number" matInput formControlName="cost">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Heating -->
    <mat-card formGroupName="heating">
      <mat-card-title>Heating</mat-card-title>

      <div>
        <mat-form-field>
          <mat-label>Volume (kW*h)</mat-label>
          <input type="number" matInput formControlName="volume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Converted volume (GCal)</mat-label>
          <input type="number" matInput formControlName="convertedVolume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Converted volume monthly (GCal)</mat-label>
          <input type="number" matInput formControlName="convertedVolumeMonthly">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Cost (₽)</mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
      </div>
    </mat-card>

    <div class="two-columns">
      <!-- Garbage -->
      <mat-card formGroupName="garbage">
        <mat-card-title>Garbage</mat-card-title>

        <mat-form-field>
          <mat-label>Cost (₽)</mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
        <button type="button" mat-button color="primary" (click)="fillLastMonthGarbageCost()">Last</button>
      </mat-card>

      <!-- Overhaul -->
      <mat-card formGroupName="overhaul">
        <mat-card-title>Overhaul</mat-card-title>

        <mat-form-field>
          <mat-label>Cost (₽)</mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
        <button type="button" mat-button color="primary" (click)="fillLastMonthOverhaulCost()">Last</button>
      </mat-card>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button *ngIf="data.calculation" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  <div>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
