<h1 mat-dialog-title>{{ getTitle() }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- HCS -->
    <mat-card formGroupName="hcs">
      <mat-card-title>
        <span i18n="@@main.edit-calc.hcs">HCS</span>
        <a *ngIf="currentFlat.hcsLink" mat-icon-button [href]="currentFlat.hcsLink" target="_blank">
          <mat-icon class="link">open_in_new</mat-icon>
        </a>
      </mat-card-title>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.electricity">Electricity</span> (<span i18n="@@units.kwh">kW*h</span>)
            </mat-label>
            <input type="number" matInput cdkFocusInitial formControlName="electricityVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.monthly">Monthly</span> (<span i18n="@@units.kwh">kW*h</span>)
            </mat-label>
            <input type="number" matInput formControlName="electricityVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.cost">Cost</span> (<span i18n="@@units.currency">₽</span>)
            </mat-label>
            <input type="number" matInput formControlName="cost">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Water -->
    <mat-card formGroupName="water">
      <mat-card-title>
        <span i18n="@@main.edit-calc.water">Water</span>
        <a *ngIf="currentFlat.waterLink" mat-icon-button [href]="currentFlat.waterLink" target="_blank">
          <mat-icon class="link">open_in_new</mat-icon>
        </a>
      </mat-card-title>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.cold_water">Cold water</span> (<span i18n="@@units.m">m</span><sup>3</sup>)
            </mat-label>
            <input type="number" matInput formControlName="coldVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.monthly">Monthly</span> (<span i18n="@@units.m">m</span><sup>3</sup>)
            </mat-label>
            <input type="number" matInput formControlName="coldVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.hot_water">Hot water</span> (<span i18n="@@units.m">m</span><sup>3</sup>)
            </mat-label>
            <input type="number" matInput formControlName="hotVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.monthly">Monthly</span> (<span i18n="@@units.m">m</span><sup>3</sup>)
            </mat-label>
            <input type="number" matInput formControlName="hotVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>
              <span i18n="@@main.edit-calc.cost">Cost</span> (<span i18n="@@units.currency">₽</span>)
            </mat-label>
            <input type="number" matInput formControlName="cost">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Heating -->
    <mat-card formGroupName="heating">
      <mat-card-title>
        <span i18n="@@main.edit-calc.heating">Heating</span>
        <a *ngIf="currentFlat.heatingLink" mat-icon-button [href]="currentFlat.heatingLink" target="_blank">
          <mat-icon class="link">open_in_new</mat-icon>
        </a>
      </mat-card-title>

      <div>
        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.volume">Volume</span> (<span i18n="@@units.kwh">kW*h</span>)
          </mat-label>
          <input type="number" matInput formControlName="volume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.heating_converted">Converted</span> (<span i18n="@@units.gcal">GCal</span>)
          </mat-label>
          <input type="number" matInput formControlName="convertedVolume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.monthly">Monthly</span> (<span i18n="@@units.gcal">GCal</span>)
          </mat-label>
          <input type="number" matInput formControlName="convertedVolumeMonthly">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.cost">Cost</span> (<span i18n="@@units.currency">₽</span>)
          </mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
      </div>
    </mat-card>

    <div class="two-columns">
      <!-- Garbage -->
      <mat-card formGroupName="garbage">
        <mat-card-title>
          <span i18n="@@main.edit-calc.garbage">Garbage</span>
          <a *ngIf="currentFlat.garbageLink" mat-icon-button [href]="currentFlat.garbageLink" target="_blank">
            <mat-icon class="link">open_in_new</mat-icon>
          </a>
        </mat-card-title>

        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.cost">Cost</span> (<span i18n="@@units.currency">₽</span>)
          </mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
        <button type="button" mat-button color="primary" (click)="fillLastMonthGarbageCost()" i18n="@@main.edit-calc.last">Last</button>
      </mat-card>

      <!-- Overhaul -->
      <mat-card formGroupName="overhaul">
        <mat-card-title>
          <span i18n="@@main.edit-calc.overhaul">Overhaul</span>
          <a *ngIf="currentFlat.overhaulLink" mat-icon-button [href]="currentFlat.overhaulLink" target="_blank">
            <mat-icon class="link">open_in_new</mat-icon>
          </a>
        </mat-card-title>

        <mat-form-field>
          <mat-label>
            <span i18n="@@main.edit-calc.cost">Cost</span> (<span i18n="@@units.currency">₽</span>)
          </mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
        <button type="button" mat-button color="primary" (click)="fillLastMonthOverhaulCost()" i18n="@@main.edit-calc.last">Last</button>
      </mat-card>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button *ngIf="data.calculation" mat-raised-button color="warn" (click)="onDelete()" i18n="@@shared.delete">Delete</button>
  <div>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid" i18n="@@shared.save">Save</button>
    <button mat-button mat-dialog-close i18n="@@shared.cancel">Cancel</button>
  </div>
</div>
