.container {
  padding: 20px;

  app-calc-table-month {
    margin-top: 59px;
  }

  .tables {
    display: flex;
    justify-content: space-around;

    app-calc-table:first-child {
      margin-right: 10px;
    }

    app-calc-table {
      max-width: 1500px;
    }
  }
}

