.container {
  padding: 20px;
}

.mat-header-cell, .mat-cell {
  padding: 10px;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: rgb(105, 159, 230);
}

.calc-table {
  margin-top: 10px;

  table {
    width: 100%;
  }

  $font-color: rgb(27, 27, 27);

  .vol {
    color: rgb(54 58 60);
    background-color: rgb(208 236 255);
  }

  .vol-monthly {
    color: rgb(55 64 54);
    background-color: rgb(217 250 214);
  }

  .cost {
    color: rgb(48, 24, 24);
    background-color: rgb(255 208 208);
  }

  .total-cost {
    color: $font-color;
    background-color: rgb(255 208 208);
    font-weight: 500;
  }

  .footer-row {
    font-weight: 500;
  }
}
