<h1 mat-dialog-title>Edit Calc {{ month }} {{ dataStorage.currentYear$ | async }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- HCS -->
    <mat-card formGroupName="hcs">
      <mat-card-title>HCS</mat-card-title>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Electricity</mat-label>
          <input matInput cdkFocusInitial formControlName="electricityVolume">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Monthly</mat-label>
          <input matInput formControlName="electricityVolumeMonthly">
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Water -->
    <mat-card formGroupName="water">
      <mat-card-title>Water</mat-card-title>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Cold volume</mat-label>
            <input matInput formControlName="coldVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Monthly</mat-label>
            <input matInput formControlName="coldVolumeMonthly">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Hot volume</mat-label>
            <input matInput formControlName="hotVolume">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Monthly</mat-label>
            <input matInput formControlName="hotVolumeMonthly">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Heating -->
    <mat-card formGroupName="heating">
      <mat-card-title>Heating</mat-card-title>

      <mat-form-field>
        <mat-label>Volume</mat-label>
        <input matInput formControlName="volume">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Converted volume</mat-label>
        <input matInput formControlName="convertedVolume">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Converted volume monthly</mat-label>
        <input matInput formControlName="convertedVolumeMonthly">
      </mat-form-field>
    </mat-card>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
