<h1 mat-dialog-title>
  <span *ngIf="data.flat; else addFlat" i18n="@@flats.edit-flat.edit-flat">Edit flat</span>
  <ng-template #addFlat>
    <span i18n="@@flats.edit-flat.add-flat">Add flat</span>
  </ng-template>
</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-card>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.address">Address</mat-label>
        <input type="text" matInput cdkFocusInitial formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.number">Number</mat-label>
        <input type="text" matInput formControlName="number">
      </mat-form-field>
    </mat-card>

    <mat-card class="links">
      <mat-card-title i18n="@@main.edit-calc.links">Links</mat-card-title>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.hcs_link">HCS link</mat-label>
        <input type="text" matInput formControlName="hcsLink">
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.water_link">Water link</mat-label>
        <input type="text" matInput formControlName="waterLink">
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.heating_link">Heating link</mat-label>
        <input type="text" matInput formControlName="heatingLink">
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.garbage_link">Garbage link</mat-label>
        <input type="text" matInput formControlName="garbageLink">
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@flats.edit-flat.overhaul_link">Overhaul link</mat-label>
        <input type="text" matInput formControlName="overhaulLink">
      </mat-form-field>
    </mat-card>
  </form>
</div>

<div mat-dialog-actions>
  <button *ngIf="data.flat" mat-raised-button color="warn" (click)="onDelete()" i18n="@@shared.delete">Delete</button>
  <div>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid" i18n="@@shared.save">Save</button>
    <button mat-button mat-dialog-close i18n="@@shared.cancel">Cancel</button>
  </div>
</div>
