@use '@angular/material' as mat;
@use './app/pages/main/calc-table/calc-table.component-theme' as main-page;
@use './app/pages/stat/stat.component-theme' as stat-page;

@include mat.core();

$my-primary-light: mat.define-palette(mat.$indigo-palette, 500);
$my-primary-dark: mat.define-palette(mat.$light-green-palette, 400);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme-light: mat.define-light-theme((
 color: (
   primary: $my-primary-light,
   accent: $my-accent,
 ),
 density: 0,
));

$my-theme-dark: mat.define-dark-theme((
 color: (
   primary: $my-primary-dark,
   accent: $my-accent,
 ),
 density: 0,
));

.theme-light {
  @include mat.all-component-themes($my-theme-light);
  @include main-page.theme($my-theme-light);
  @include stat-page.theme($my-theme-light);
}

.theme-dark {
  @include mat.all-component-themes($my-theme-dark);
  @include main-page.theme($my-theme-dark);
  @include stat-page.theme($my-theme-dark);
}
