[Desktop Entry]
Name=Rent Store
GenericName=Rent Store
Comment=Rent Store
Exec=/bin/rent_store %U
Icon=store
Type=Application
StartupNotify=true
Categories=
StartupWMClass=rent-store
